/* purgecss start ignore */
.light-mode .nuxt-content {
  h2,
  h3,
  p {
    color: theme('colors.light.onSurfacePrimary');
  }

  blockquote {
    color: theme('colors.light.onSurfaceSecondary');
  }

  & a {
    @apply text-nuxt-lightgreen;

    &:hover {
      @apply underline;
    }

    & code {
      @apply text-nuxt-lightgreen;

      &:hover {
        @apply text-nuxt-green;
      }
    }
  }
  // inline code snippet
  & code {
    @apply bg-gray-100 text-red-500;
  }

  & pre {
    @apply static;

    background-color: theme('colors.dark.elevatedSurface');

    code {
      color: theme('colors.dark.onSurfacePrimary');
    }
  }
  // code snippet block
  & pre {
    code {
      @apply bg-transparent;

      color: theme('colors.dark.onSurfacePrimary');
    }
  }

  & .Alert {
    @apply bg-blue-100 text-light-onSurfacePrimary;

    & a {
      @apply text-blue-600;
    }

    & code {
      @apply text-blue-800 bg-blue-200;
    }

    &.Alert--orange {
      @apply bg-orange-100;
    }
  }
}

/* purgecss end ignore */
